{% extends "template.html" %}
{% block title %}Work in progress{% endblock %}
{% block body %}
    <h1>Not done yet... current progress:</h1>
    <ol>
        <li style="text-decoration: line-through;">Make working registration form</li>
        <a href="/register" class="btn btn-success">Register</a>
        <hr>
        <li style="text-decoration: line-through;">Make working login form</li>
        <a href="/login" class="btn btn-success">Login</a>
        <hr>
        <li style="text-decoration: line-through;">Make finding other registered users possible</li>
        <a href="/users" class="btn btn-success">User list</a>
        <hr>
        <li style="text-decoration: line-through;">Allow users to send global messages that everyone can see</li>
        <a href="/post" class="btn btn-success">Post your message</a>
        <a href="/posts" class="btn btn-success">View posts</a>
        <hr>
        <li style="text-decoration: line-through;">Update posts to allow more features and upload images</li>
        <a href="/post" class="btn btn-success">Post your message now with optional img</a>
        <a href="/posts" class="btn btn-success">View posts with images</a>
        <hr>
        <li>Allow users to send DMs to one another</li>
        <li>Allow users to create groups and send messages to people in group</li>
        <li>Complete CSS redesign to make site look nicer</li>
    </ol>
    <hr>
    <h2>Release version 0.6.1</h2> 
    <h2>Update number 10</h2>
    <h2>News since last update</h2>
    <p>Updated comments and reactions to each have its own database</p>
    <p>Direct messages are delayed</p>
    <p>This version mostly focused on functionality visuals are not perfect yet</p>
    <hr>
    <h2>Next update</h2>
    <p>To be announced</p>
{% endblock %}