{% extends "template.html" %}
{% block title %}Work in progress{% endblock %}
{% block body %}
    <h1>Not done yet... current progress:</h1>
    <ol>
        <li>Make working registration form</li>
        <form action="/register" method="get">
            <input btn value="Go to registration" type="submit">
        </form>
        <li>Make working log in form</li>
        <li>Make finding other registered users possible</li>
        <li>Allow users to send global messages that everone can see</li>
        <li>Allow users to send DMs to one another</li>
        <li>Allow users to create groups and send messages to people in group </li>
    </ol>
    <h2>Release version 0.2.0</h2> 
    <h2>Update number 2</h2>
    <h2>News since last update</h2>
    <p>Added registration for users using flask and sqlAlchemy added resources.py file that has classes required to connect to created database</p>
    <p>Uploaded files don't include database because it is created automaticly when you run the file if one doesn't exist yet</p>
    <p>I also did some minor HTML and CSS tweaking and started using jinja for templates</p>
{% endblock %}