{% extends "template.html" %}
{% block title %}Work in progress{% endblock %}
{% block body %}
    <h1>Not done yet... current progress:</h1>
    <ol>
        <li style="text-decoration: line-through;">Make working registration form</li>
        <a href="/register" class="btn btn-success">Register</a>
        <hr>
        <li style="text-decoration: line-through;">Make working log in form</li>
        <a href="/login" class="btn btn-success">Login</a>
        <hr>
        <li style="text-decoration: line-through;">Make finding other registered users possible</li>
        <a href="/users" class="btn btn-success">User list</a>
        <hr>
        <li style="text-decoration: line-through;">Allow users to send global messages that everone can see</li>
        <a href="/post" class="btn btn-success">Post your message</a>
        <a href="/posts" class="btn btn-success">View posts</a>
        <hr>
        <li>Allow users to send DMs to one another</li>
        <li>Allow users to create groups and send messages to people in group </li>
    </ol>
    <hr>
    <h2>Release version 0.5.1</h2> 
    <h2>Update number 6</h2>
    <h2>News since last update</h2>
    <p>Added the abbility to delete posts if you are the owner</p>
    <p>You only see delete button for posts and comments if you are the owner (or owner of post comment was made on)</p>
    <p>This version mostly focused on functionallity visuals are not perfect yet</p>
    <hr>
    <h2>Next update</h2>
    <p>Add time when post/comment was made and the abbility for users to like posts/comments</p>
{% endblock %}