{% extends "template.html" %}
{% block title %}Create a new post{% endblock %}

{% block body %}
<form action="/post" method="post" enctype=multipart/form-data><!-- enctype is necessary for posting images-->
    
    {{ form.hidden_tag() }} <!-- This is the form that will make your post -->
    <input name="title" id="title" class="center" type="text" placeholder="Title" autofocus autocomplete="off">
    <p class="center" style="margin-bottom:-0.5rem;">Write your message</p>
    <textarea name="post_content" id="post" type="text" autocomplete="off"></textarea>
    <section style="margin: 0 5%;">
        <input type="file" name="images" multiple>
        <button style="display: inline; float: right;" type="submit" class="btn btn-primary">Submit</button>
    </section>
    <p style="color: red;">{{ error }}</p>

</form>
{% endblock %}