{% extends "template.html" %}
{% block title %}Public posts{% endblock %}

{% block body %}
<div class="container my_display">
        {% for batch in posts | batch(2) %} <!-- Display posts in grid of 2 per row in bootstrap grid -->
            <section class="row">
                {% for post in batch %}
                    <section class = "col-6 card">
                        <a href="/view/{{ post.id }}" class="btn"></a>
                        <section>
                            <section class="card-body" style="height: 20vh; overflow-y: auto;"> <!-- Too long posts will be made scrollable-->
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="card-text">{{ post.post_content }}</p>
                            </section>
                            <section>
                                <!-- For time I use flask-moment and a python function get_date() from helpers-->
                                <p class="card-footer center">Author: {{ post.username }}, Posted on: {{ moment(get_date(post.time)).format('MMMM Do YYYY, h:mm:ss a') }}</p>
                                {% if current_user.username == post.username %}
                                <form method="post" action="/remove/{{ post.id }}">
                                    <button type="submit">Remove</button>
                                </form>
                                {% endif %}
                            </section>
                        </section>
                        </a>
                    </section>
                {% endfor %}
            </section>
        {% endfor %}
</div>
{% endblock %}