{% extends "template.html" %}
{% block title %}Post {{post.id}} {% endblock %}

{% block body %}
    <section> <!-- Display post -->
        <section style="height: auto; overflow-y: auto;">
            <h3>{{ post.title }}</h3>
            {% if post.is_image %} <!-- If img was provided-->
                <img style="width: 40%; float: right;" src="{{ url_for('get_image', filename='postimage_' ~ post.id ~ '.jpg') }}">
            {% endif %}
            <p>{{ post.post_content }}</p>
        </section>
        <section>
            <p class="card-footer">Author: {{ post.username }}, Posted on: {{ moment(get_date(post.time)).format('h:mm:ss a') }}</p>
        </section>
    </section>
    <form method="post" action="/view/post/{{ post.id }}"> <!-- Form that allows to add comment if user is logged in -->
        <input type="text" name="comment" style="display: inline-block;" placeholder="Add a comment">
        <button type="submit" style="display: inline-block;">Add</button>
    </form>
    <hr>
    <section> <!-- Display comments -->
        {% for comment in comments %}
        <div> 
        <p>{{ comment.username }}: {{ comment.content }}, Posted on: {{ moment(get_date(comment.time)).format('MMMM Do YYYY, h:mm:ss a') }} Likes: {{ loads(comment.likes)['count'] }} Dislikes: {{ loads(comment.dislikes)['count'] }}, </p>
        <form action="/react/{{ post.id }}//{{ comment.id }}" method="post">
            <button class="btn {% if current_user.username in loads(comment.likes)['names'] %} btn-dark {% endif %}" id="like" name="reaction" type="submit" value="like">Like</button>
            <button class="btn {% if current_user.username in loads(comment.dislikes)['names'] %} btn-dark {% endif %}" id="dislike" name="reaction" type="submit" value="dislike">Dislike</button>
        </form>
        {% if current_user.username == post.username or current_user.username == comment.username %}
        <form method="post" action="/remove/{{ post.id }}/{{ comment.id }}">
            <button type="submit">Remove</button>
        </form>
        {% endif %}
        </div>
        {% endfor %}
    </section>
{% endblock %}