{% extends "template.html" %}
{% from "functions.jinja" import render_comment %}
{% block title %}Post {{post.id}} {% endblock %}

{% block body %}
    <section> <!-- Display post -->
        <section>
            <h3>{{ post.title }}</h3>
            {% for image_index in range(post.image_count) %}
                {# each image gets it's own id based on their parent post and their id in that specific post#} 
                <section id="image{{image_index}}_{{ post.id }}" class="img_posts img_view" style="background-image:url({{ url_for('get_image', filename = image_index ~ 'postimage_' ~ post.id ~ '.jpg') }}); background-size: auto 100%; {# makes an image scale correctly #}" {% if loop.first %} visible {% else %} hidden {% endif %}>
                {% if not loop.first %} {# _image_index + 1 and -1 are index to which image has to become visible when this button is pressed that's why images also have ids with their index #}
                    <button onclick="switchImage({{ image_index }}, {{ image_index - 1 }}, {{ post.id }})" class="btn btn-success" style="display: inline; margin-right:auto;"><-</button>
                {% endif %} 
                {% if not loop.last %}
                    <button onclick="switchImage({{ image_index }}, {{ image_index + 1 }}, {{ post.id }})" class="btn btn-success" style="display: inline; margin-left:auto;">-></button>
                {% endif %}
                </section>
            {% endfor %}
            <div class="card-text preserve">{{ load(post.post_content) }}</div>
        </section>
        <section>
            <p class="card-footer">Author: {{ post.username }}, Posted on: {{ moment(get_date(post.time)).format('h:mm:ss a') }}</p>
        </section>
    </section>
    <textarea name="comment" style="display: inline-block;" placeholder="Add a comment" id="commentContent_0"></textarea> <!--Id 0 helps to add replies with js -->
    <button onclick="addComment({{ post.id }}, 0, 0)" style="display: inline-block;" id="add_0">Add</button>
    <hr>
    <section id="placeholder_0"> <!-- Display comments --> {# A new comment with js is added to the end of this section #}
        {% for comment in comments if comment.parent_id == 0 %}
            {{ render_comment(comment, comment_reactions, post, current_user, get_date, moment) }} <!-- Render comment using a macro -->
        {% endfor %}
    </section>
{% endblock %}