{% extends "template.html" %}
{% block title %}Post {{post.id}} {% endblock %}

{% block body %}
    <section> <!-- Display post -->
        <section style="height: auto; overflow-y: auto;">
            <h3>{{ post.title }}</h3>
            <p>{{ post.post_content }}</p>
        </section>
        <section>
            <p class="card-footer">Author: {{ post.username }}, Posted on: {{ moment(date).format('h:mm:ss a') }}</p>
        </section>
    </section>
    <form method="post" action="/view/post/{{ post.id }}"> <!-- Form that allows to add comment if user is logged in -->
        <input type="text" name="comment" style="display: inline-block;" placeholder="Add a comment">
        <button type="submit" style="display: inline-block;">Add</button>
    </form>
    <hr>
    <section> <!-- Display comments -->
        {% for comment in comments %}
        <div>
        <p>{{ comment['username'] }}: {{ comment['content'] }}, Posted on: {{ moment(get_date(comment.time)).format('MMMM Do YYYY, h:mm:ss a') }}</p>
        {% if current_user.username == post.username or current_user.username == comment['username'] %}
        <form method="post" action="/remove/{{ post.id }}/{{ comment['id'] }}">
            <button type="submit">Remove</button>
        </form>
        {% endif %}
        </div>
        {% endfor %}
    </section>
{% endblock %}